{% extends 'base.html.twig' %}

{% block title %}Hello RentaCarController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to RentaCar!</h1>

  

<div class="card border-primary mb-3" style="max-width: 37rem;">
  <div class="card-header">RentaCar</div>
  <div class="card-body">
 
   
<h3 text center class="card-title">Mercedes-Benz</h3>
     <td><img src="https://memolira.com/wp-content/uploads/2022/02/Mercedes-AMG-Vision-Gran-Turismo-2.jpeg" style="width:550px;" alt="550px"></td>
    <h3 class="card-text">AMG Vision Grand tourisme</h3>
    <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="">Commandez</a>
  </li>
  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 37rem;">
  <div class="card-header">RentaCar</div>
  <div class="card-body">
 
    <h3 text center class="card-title">Hennessey Venom</h3>
     <td><img src="https://sf2.autoplus.fr/wp-content/uploads/autoplus/2020/12/la-hennessey-venom-2020-serie-prete-pour-record.jpeg" style="width:550px;" alt="550px"></td>
    <h3 class="card-text">
Hennessey Venom F5-2020</h3>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="  ">Commandez</a>
  </li>
  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 37rem;">
  <div class="card-header">RentaCar</div>
  <div class="card-body">
 
    <h3 text center class="card-title">Aston Martin Valkyrie</h3>
     <td><img src="https://amsc-prod-cd.azureedge.net/-/media/aston-martin/images/default-source/models/valkyrie/new/valkyrie-right-gallery.jpg?mw=1920&rev=-1&hash=6A076D1DD9B6044F1F55ABF2BEAF24FD" style="width:550px;" alt="550px"></td>
    <h3 class="card-text"> AM-RB 001</h3>
    <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="  ">Commandez</a>
  </li>
   
  </div>
</div>


{% endblock %}
